.calculator{
    width: 450px;
    height: 600px;
    background-color: grey ;
    margin-left: 200px ;
}
#screen{
    width:80%;
    height: 40px;
    margin-left: 35px;
    margin-top: 30px;
    pointer-events: none; 
}
.btn{
    width: 40px;
    height: 30px;
    margin-left: 40px;
    margin-top: 40px;
    font-size: 20px;
     background-color: rgb(199, 221, 124);
}